
/* Ids */

/* Classes */

/* Tags */

header, main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%; 
}

main{
    height: 100%;
}

/* Other */

*{
    font-family: sans-serif;
}

/* Mobile */


